.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    background-color: #1e1e1e;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 10px;
}

.sidebar-header h4{
    color: lightblue;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    user-select: none;
}

.sidebar-up ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.sidebar-up ul li{
    height: 60px;
    padding: 10px 10px 10px;
    text-align: left;
    background-color: #353535;
}

.sidebar-up ul li a img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding-bottom: 2px;
}

.sidebar-up ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.sidebar-down{
    margin-top: auto;
    background-color: red;
    width: 100%;
    height: 60px;
    padding: 10px 10px 10px;
    border: 0;
    outline: 0;
}

.sidebar-down a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-down:hover{
    background: rgba(239, 26, 26, 0.851);
}

.sidebar-down a img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding-bottom: 2px;
}