.account-page{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.account-container{
    margin-left: 320px; 
    flex: 1;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.account-container h1{
    margin: 40px 0;
    font-size: 32px;
    text-align: center;
    color: #6c5ce7;
    font-weight: 600;
    letter-spacing: 4px;
}

.acc-center-box{
    background: #fff;
    padding: 40px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
}

.profile-pic-wrapper{
    position: relative;
    width: 120px;
    height: 120px;
}

.profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
}

.upload-btn{
    position: absolute;
    bottom: 6px;
    right: 3px;
    background: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0.2px solid #3498db;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.upload-btn img{
    width: 18px;
    height: 18px;
}

.user-info-box{
    text-align: center;
    font-size: 18px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 100%;
    padding: 0 30px;
}

.user-info-box p{
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.user-stats{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.stat-card{
    padding: 0 30px;
    border-radius: 15px;
    text-align: center;
    min-width: 100%;
    transition: transform .2s;
}

.stat-card p{
    margin: 10px 0 2px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 8px;
}
